
 <%# <div class="rooms"> %>
    <% current_user.rooms.each do |room| %>
    <div class="room">
        <%= link_to room.name, room_tasks_path(room),class:"room-name" %>
    </div>
  <% end %>
  <%# </div> %>