
.create-btn{
  margin-top:0;
  width:30%;
  height:20%;
  margin-left:35%;
  cursor: pointer;
  display: block;
  border:1px solid black;
  text-align: center;
  display: block;
}


#new-task-create{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

#edit-task{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 40px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: 50%;
  text-align: center;
}
.close-btn{
  border:1px solid black;
  text-align: right;
  margin-left:88%;
  cursor: pointer;
  display: block;
}
.form-input{
  height:35vh;
  display: flex;
  flex-direction: column;
}

.task-form-list{
  margin-top:10%;
}

.task-edit-btn{
  cursor: pointer;
  display: block;
}

.task-edit-destroy{
  list-style: none;
  display: flex;
}

.edit-destroy{
  border:1px solid black;
  margin-left:5px;
}