
.room-delete-btn{
  border:1px solid black;
  color:red;
  background-color: lightgrey;
}

.create-btn{
  margin-top:0;
  width:30%;
  height:20%;
  margin-left:35%;
  cursor: pointer;
  display: block;
  border:1px solid black;
  text-align: center;
  display: block;
}


.create-btn:hover{
  background-color: lightskyblue;
}


#new-task-create{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}


#edit-task{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 40px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: 70%;
  text-align: center;
}

.close-btn{
  border:1px solid black;
  text-align: right;
  margin-left:88%;
  cursor: pointer;
  display: block;
}
.form-input{
  height:50vh;
  display: flex;
  flex-direction: column;
}

.tasks-infomation{
  margin-left:3vw;
  margin-bottom:0;
  padding:3px;
}

.red{
  background-color: mediumvioletred;
}
.blue{
  background-color: lightblue;
}
.green{
  background-color: lightgreen;
}
.status{

  font-size: 10px;
}

.limit{
  color:red;
}

.task-form-list{
  margin-top:10%;
}

.manage{
}

.edit-btn{
  border:1px solid black;
  text-decoration: none;
  padding:2px;
}

.destroy-btn{
  border:1px solid black;
  text-decoration: none;
  padding:2px;}

.edit-destroy{
  border:1px solid black;
}

.tasks{
  overflow: scroll;
}