
.room-delete-btn{
  border:1px solid black;
  color:red;
  background-color: lightgrey;
}

.create-btn{
  margin-top:0;
  width:30%;
  height:20%;
  margin-left:35%;
  cursor: pointer;
  display: block;
  border:1px solid black;
  text-align: center;
  display: block;
}

.create-btn:hover{
  background-color: lightskyblue;
}

#new-task-create{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}


#edit-task{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 40px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: 70%;
  text-align: center;
}

.close-btn{
  border:1px solid black;
  text-align: right;
  margin-left:88%;
  cursor: pointer;
  display: block;
}
.form-input{
  height:50vh;
  display: flex;
  flex-direction: column;
}

.tasks-infomation{
  margin-bottom:0;
  padding:3px;
}

.task-info-status{
  width:55px;
  text-align: center;
  height: 35px;
  line-height:35px;
  margin-left:10px;
}

.red{
  background-color: mediumvioletred;
}
.blue{
  background-color: lightblue;
}
.green{
  background-color: lightgreen;
}
.status{
  font-size: 10px;
}

.limit{
  color:red;
  width:100px;
  height:35px;
  line-height:35px;
  text-align:center;
  margin-left:20px;
}

.task-form-list{
  margin-top:10%;
}
.title{
  width:40%;
  height:35px;
  line-height:35px;
  text-align:left;
  margin-left:20px;
}

.manage{
  width:230px;
  display: flex;
}

.manage ul{
  list-style: none;
  display: flex;
}

.manage li{
  margin-left:2px;
  text-align: center;
  height: 35px;
  line-height:35px;
  border:1px solid black;
}

.manage li:hover{
  background: lightcyan;
}

.edit-btn{
  color:black;
  text-decoration: none;
  padding:2px;
  display:block;
  text-decoration:none;
  width:40px;
}

.destroy-btn{
  color:black;
  text-decoration: none;
  padding:2px;
  display:block;
  text-decoration:none;
  width:40px;
}

.edit-destroy{
  color:black;
  display:block;
  text-decoration:none;
  width:60px;
}

.favorite-btn{
  color:black;
  display:block;
  text-decoration:none;
  width:60px;

}

.tasks{
  overflow: scroll;
}

.remove{
  color:black;
}