.header{
  width: 100vw;
  display: flex;
  background-color: cadetblue;
}
.header-logo{
  padding: 20px;
}
.menus{
  list-style: none;
  display: flex;
}
.menu{
  padding: 5px 10px;
  text-decoration:none;
}
.link{
  text-decoration: none;
  font-size: 15px;
  color: black;
  border: 1px solid black;
  padding:5px;
}

