.header{
  margin: 5px 5px 15px 5px;
  border: 1px solid black;
  padding:10px;
  width: 98vw;
  height: 10vh;
  background-color: cadetblue;
  display: flex;
}
.header-logo{
  border: 1px solid black;
  width:25vw;
  height:8vh;
  position:relative;
  padding:5px;
}

.header-title{
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  text-decoration: none;
  color:black;
  text-align: center;
  padding-top:20px;
}

.header-title:hover{
  background-color: blanchedalmond;
}

.header-user-menu{
  border: 1px solid black;
  width:70vw;
  height:8vh;
  margin-left: 10px;
}

.menus{
  margin-top: 7%;
  list-style: none;
  display: flex;
  margin-left:10px;
  width:67vw;
}
.menu{
  padding: 5px 10px;
  text-decoration:none;
  margin-left:3px;
}
.menu:hover{
  background-color: blanchedalmond;

}
.link{
  border-radius: 8%;
  border: 1px solid black;
  padding:10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
}