<div class="header">

 <div class="header-logo">
    <h2>
    <%= link_to "TaskToManage", "/", class:"header-title" %></li>
    </h2>
</div>

  <div class="header-user-menu">
    <ul class="menus">
    <li class="menu"><%= link_to "new room", new_room_path, class: "link" %></li>
    <li class="menu"><%= link_to "ユーザー編集", edit_user_path(current_user),class:"link" %></li>
    <li class="menu"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></li>
    </ul>
  </div>
  
</div>