<%= render "shared/header" %>


<div class="main">
  <div class="side-bar">
    <%= render "messages/side_bar" %>
  </div>
  <div class="main-task-chat">
    <ul class="tasks">
     <li>
        <div class="task-info">
          <div class="task-title">
          </div>
          <div class="task-text">
          </div>          
          <div class="task-time">
          </div>
        </div>
     </li>
    </ul>
  
  </div>
</div>
<%= render "shared/footer" %>
